*{
	margin: 0;
	padding: 0;
}

body{
	height: 900px;
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(255,84,167,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;

}

header{
	padding: 35px 0;
	
}
header h1{
	color: black;
	font-size: 30px;
	font-weight: bolder;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }